.screen_container{
    margin: 5px 10px;
    padding:0 10px;
 }
 .btns_container{
    position: relative;
    top: 10px;
}
.login_header{
    color:#fff;
    text-align: center;
}
.login_header > span{
    color: aqua;
    font-family: sans-serif
}
.login_inputbox{
    width: 100%;
    height: 42px;
    border: none;
    border-radius: 50px;
    margin-top: 5px;
    font-weight: 400;
    padding: 10px;
    font-size: 16px;
    outline: none;
}
.acknowledge_container{
    bottom: 50px;
    position: fixed;
    text-align: center;
    padding: 5px;
    margin: 0 10px;
}
.acknowledge_text{
    color: #fff;
    font-size: 10px;
}
.acknowledge_text>span{
    color: aqua;
    font-weight: 500;
    text-decoration: underline;
}
.hide_element{
    display: none;
}
.btn{
    background-color: rgb(112, 43, 161);
    width: 100%;
    height: 62px;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
}
.btn_clicked{
    background-color: rgba(112, 43, 161, 0.7);
    width: 100%;
    height: 62px;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
    
}
